.container-row {
    display: flex;
    flex-direction: row;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.info {
    grid-area: info;
}

.portrait {
    grid-area: portrait;
}

.authors {
    grid-area: authors;
}

.authors-list {
    border: red dotted 1px;
}

nav>ul {
    list-style: none;
}
nav>ul>li {
    display: inline;
    margin-right: 7px;
}

dt, dd {
    display: inline;
}
dt::after {
    content: ':';
}