.main_grid {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 80% 20%;
    gap: 5px;
    grid-template-areas:
            "info portrait"
            "authors authors";
}